@import "tailwindcss";

body {
  margin: 0;
  background: #f5f7fb;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}

.themeblack-color{
  background-color: oklch(37.3% .034 259.733);
}